/* * {
    border: 1px solid green;
} */

html {
    background-color: lightskyblue;
    font-family: Georgia, Times ,"Times New Roman" ,"serif";
}

.center {
    text-align: center;
}

#fst-title {
    display: inline;
}

a {
    border: 3px groove coral;
}

.flexible {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
}

.star {
    display: inline-flex;
    margin: 0px;
    padding: 0px;

}
