/* * {
    border: 1px solid green;
} */

html {
    background-color: lightskyblue;
    font-family: Georgia, Times ,"Times New Roman" ,"serif";
}

.center {
    text-align: center;
}

#fst-title {
    display: inline;
}

.star {
    display: inline-flex;
    margin: 0px;
    padding: 0px;

}

.flexible {
    display: flex;
}

.flexible a {
    justify-content: space-between;
    border: 4px solid coral;
    flex: 1;
    margin: 4px;
}

a img {
    height: 200px;
    width: 200px;
    display: block;
}

